<ion-view view-title="Dashboard">
  <ion-content class="">
    <div class="navbar navbar-default navbar-fixed-top text-center">
      <ul class="ulbottom">
        <li class="btn btn-default navbar-btn text-center">
          Museums
        </li>
        <li class="btn btn-default navbar-btn text-center">
          Natural
        </li>
        <li class="btn btn-default navbar-btn text-center">
          Beaches
        </li>
        <li class="btn btn-default navbar-btn text-center">
          Buildings
        </li>
        <li class="btn btn-default navbar-btn text-center">
          Historic
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
