/* Empty. Add your own CSS if you like */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.ulbottom {
	margin-bottom: 0px;
	background-color: #fd594c;
}

.navbar-btn {
	width: 80px;
	color: #fd594c;
}

.navbar {
	background-color: #fd594c;
}
